<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newAnimation_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,305}</string>
                <key>spriteSourceSize</key>
                <string>{252,305}</string>
                <key>textureRect</key>
                <string>{{0,0},{252,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,305}</string>
                <key>spriteSourceSize</key>
                <string>{252,305}</string>
                <key>textureRect</key>
                <string>{{252,0},{252,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,305}</string>
                <key>spriteSourceSize</key>
                <string>{252,305}</string>
                <key>textureRect</key>
                <string>{{0,305},{252,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,305}</string>
                <key>spriteSourceSize</key>
                <string>{252,305}</string>
                <key>textureRect</key>
                <string>{{252,305},{252,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,305}</string>
                <key>spriteSourceSize</key>
                <string>{252,305}</string>
                <key>textureRect</key>
                <string>{{0,610},{252,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,305}</string>
                <key>spriteSourceSize</key>
                <string>{252,305}</string>
                <key>textureRect</key>
                <string>{{252,610},{252,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,305}</string>
                <key>spriteSourceSize</key>
                <string>{252,305}</string>
                <key>textureRect</key>
                <string>{{0,915},{252,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,305}</string>
                <key>spriteSourceSize</key>
                <string>{252,305}</string>
                <key>textureRect</key>
                <string>{{252,915},{252,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,305}</string>
                <key>spriteSourceSize</key>
                <string>{252,305}</string>
                <key>textureRect</key>
                <string>{{0,1220},{252,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,305}</string>
                <key>spriteSourceSize</key>
                <string>{252,305}</string>
                <key>textureRect</key>
                <string>{{252,1220},{252,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{504,1525}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc319c395b130066f2da821022a383cb:b2cd5c6fbb0e61f0b8ce31816e9137ef:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
