<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newAnimation_3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{0,0},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{239,0},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{478,0},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{717,0},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{956,0},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{1195,0},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{1434,0},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{0,308},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{239,308},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{478,308},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{717,308},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{956,308},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{1195,308},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{1434,308},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{0,616},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{239,616},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{478,616},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{717,616},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{956,616},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{1195,616},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{1434,616},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{0,924},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{239,924},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{478,924},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{717,924},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{956,924},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{1195,924},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_3_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{239,308}</string>
                <key>textureRect</key>
                <string>{{1434,924},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ggg.png</string>
            <key>size</key>
            <string>{1673,1232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b18a7382a3ec03eecacb3bd9d6ccf323:0cc8827574b74da0395becf6e2cb7cf0:eb073a334af98f0f4b49dd5b73adebc4$</string>
            <key>textureFileName</key>
            <string>ggg.png</string>
        </dict>
    </dict>
</plist>
