<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newAnimation_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,303}</string>
                <key>spriteSourceSize</key>
                <string>{240,303}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,303}</string>
                <key>spriteSourceSize</key>
                <string>{240,303}</string>
                <key>textureRect</key>
                <string>{{240,0},{240,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,303}</string>
                <key>spriteSourceSize</key>
                <string>{240,303}</string>
                <key>textureRect</key>
                <string>{{0,303},{240,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,303}</string>
                <key>spriteSourceSize</key>
                <string>{240,303}</string>
                <key>textureRect</key>
                <string>{{240,303},{240,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,303}</string>
                <key>spriteSourceSize</key>
                <string>{240,303}</string>
                <key>textureRect</key>
                <string>{{0,606},{240,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,303}</string>
                <key>spriteSourceSize</key>
                <string>{240,303}</string>
                <key>textureRect</key>
                <string>{{240,606},{240,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,303}</string>
                <key>spriteSourceSize</key>
                <string>{240,303}</string>
                <key>textureRect</key>
                <string>{{0,909},{240,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,303}</string>
                <key>spriteSourceSize</key>
                <string>{240,303}</string>
                <key>textureRect</key>
                <string>{{240,909},{240,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,303}</string>
                <key>spriteSourceSize</key>
                <string>{240,303}</string>
                <key>textureRect</key>
                <string>{{0,1212},{240,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newAnimation_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,303}</string>
                <key>spriteSourceSize</key>
                <string>{240,303}</string>
                <key>textureRect</key>
                <string>{{240,1212},{240,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{480,1515}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53add8377ff31cbf7757f6df72b0ca05:d0a7b33ef137225af248cc5225489eb9:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
